<p style="color: green"><%= notice %></p>

<h1>Supermercados</h1>

<div class="carrinho-container" id="supermercados">
  <% @supermercados.each do |supermercado| %>
    <%= render supermercado %>
    <p>
      <%= link_to "Show this supermercado", supermercado, class: "link-produtos" %>
    </p>
  <% end %>
</div>
<%= paginate @supermercados %>
<% if can? :edit, Supermercado %>
  <%= link_to "New supermercado", new_supermercado_path %>
<% end %>
