<p style="color: green"><%= notice %></p>

<div id="<%= dom_id @supermercado %>">
  <p>
    <strong>Nome:</strong>
    <%= @supermercado.nome_mercado %>
  </p>

  <p>
    <strong>Endereço:</strong>
    <%= link_to @supermercado.localizacao, @supermercado.localizacao, target: "_blank" %>
  </p>

<div>
  <% if can? :edit, @supermercado %>
    <%= link_to "Edit this supermercado", edit_supermercado_path(@supermercado) %> |
  <% end %>
  <%= link_to "Back to supermercados", supermercados_path %>

  <%= button_to "Destroy this supermercado", @supermercado, method: :delete %>
</div>
