<h1 class="titulo-carrinho">Meu Carrinho</h1>
<%= link_to "Produtos", produtos_path, class: "btn btn-primary m-1" %>

<div class="carrinho-container">
  <% if @produtos.any? %>
    <ul class="lista-produtos">
      <% @produtos.each do |produto| %>
        <li class="item-produto">
          <%= render produto %>
          <%= button_to 'Remover do Carrinho', remover_produto_carrinho_path(produto.id), method: :delete, class: "btn-remover-produto" %>
        </li>
      <% end %>
    </ul>
    <%= button_to 'Remover Todos os Produtos', remover_todos_carrinhos_path, method: :delete, class: "btn-remover-todos", data: { confirm: 'Você tem certeza que deseja remover todos os produtos?' } %>
  <% else %>
    <p class="carrinho-vazio">Seu carrinho está vazio.</p>
  <% end %>
</div>

<%
=begin%>
 <%= paginate @carinhos %>
<%
=end%>
