<h1>Meu Carrinho</h1>
<%= link_to "Produtos", produtos_path %>  
<%= link_to "Organizar Caminho", organizar_caminho_carrinhos_path %> 

<% if @produtos.any? %>
  <ul>
    <% @produtos.each do |produto| %>
      <% item = @carrinho.item_carrinhos.find_by(produto: produto) %>
      <li>
        <%= render produto %>
        <% if item.present? %>
          <%= button_to 'Remover do Carrinho', remover_produto_carrinho_path(item.id), method: :delete %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <%= button_to 'Remover Todos os Produtos', remover_todos_carrinhos_path, method: :delete, data: { confirm: 'Você tem certeza que deseja remover todos os produtos?' } %>
<% else %>
  <p>Seu carrinho está vazio.</p>
<% end %>
