<%= form_with(model: produto) do |form| %>
  <% if produto.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(produto.errors.count, "erro") %> proibiu este produto de ser salvo:</h2>

      <ul>
        <% produto.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Nome do Produto -->
  <div>
    <%= form.label :nome_produto, "Nome do Produto", style: "display: block" %>
    <%= form.text_field :nome_produto %>
  </div>

  <!-- Categoria -->
  <div>
    <%= form.label :categoria, style: "display: block" %>
    <%= form.text_field :categoria %>
  </div>

  <!-- Preço -->
  <div>
    <%= form.label :preco, style: "display: block" %>
    <%= form.text_field :preco %>
  </div>

  <!-- Imagem -->
  <div>
    <%= form.label :image_url, "URL da Imagem", style: "display: block" %>
    <%= form.text_field :image_url %>
  </div>

  <!-- Supermercado -->
  <div class="field">
    <%= form.label :supermercado_id, "Supermercado", style: "display: block" %>
    <%= form.collection_select :supermercado_id, Supermercado.all, :id, :nome_mercado %>
  </div>

  <!-- Disponibilidade -->
  <div>
    <%= form.label :disponibilidade, style: "display: block" %>
    <%= form.check_box :disponibilidade %>
  </div>

  <div>
    <%= form.submit "Salvar Produto" %>
  </div>
<% end %>
