<div class="teste-color" id="<%= dom_id produto %>">
  <p class="nome-produto">
    <strong>Nome:</strong>
    <%= produto.nome_produto %>
  </p>

  <p class="categoria-produto">
    <strong>Categoria:</strong>
    <%= produto.categoria %>
  </p>

  <p class="valor-produto">
    <strong>Preco:</strong>
    <%= produto.preco %>
  </p>

  <p>
    <strong>Imagem:</strong>
    <% if produto.image_url.present? %>
      <%= image_tag produto.image_url, size: "100x100" %>
    <% else %>
      <p>Imagem não disponível</p>
    <% end %>
  </p>
  <% produto.produtos_precos.each do |produto_preco| %>
  <p>Supermercado: <%= produto_preco.supermercado.nome_mercado %></p>
  <p>Localização: <%= produto_preco.supermercado.localizacao %></p>
  <p>Preço: <%= produto_preco.preco %></p>

  <% end %>

 <%
=begin%>
 <p>
  <strong>Localização no mercado:</strong>
  <%= produto.indicacao_no_mercado %>
  </p>
<%
=end%>
</div>
