<div id="<%= dom_id produto %>">
  <p>
    <strong>Nome:</strong>
    <%= produto.nome_produto %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= produto.descricao %>
  </p>

  <p>
    <strong>Categoria:</strong>
    <%= produto.categoria %>
  </p>

  <p>
    <strong>Marca:</strong>
    <%= produto.marca %>
  </p>

  <p>
    <strong>Preco:</strong>
    <%= produto.preco %>
  </p>

  <p>
    <strong>Unidade de medida:</strong>
    <%= produto.unidade_de_medida %>
  </p>

  <p>
    <strong>Disponibilidade:</strong>
    <%= produto.disponibilidade %>
  </p>

  <p>
    <strong>Avaliacoes:</strong>
    <%= produto.avaliacoes %>
  </p>

  <p>
    <%# <%= produto.imagem %>
    <%# <%= image_tag produto.url_image, size:"50x50" %>
    <strong>Imagem:</strong>
    <% if produto.imagem.present? %>
      <%= image_tag produto.imagem, size: "100x100" %>
    <% else %>
      <p>Imagem não disponível</p>
    <% end %>
  </p>

  <p>
    <strong>Nome mercado:</strong>
    <%= produto.nome_mercado %>
  </p>
  <p>
    <strong>Supermercado id:</strong>
    <%= produto.supermercado_id %>
  </p>
  <p>
    <strong>Supermercado endereço:</strong>
    <%= produto.supermercado.endereco %>
  </p>
  <p>
    <strong>Supermercado Horário:</strong>
    <%= produto.supermercado.horario_de_funcionamento %>
  </p>

</div>
