<p style="color: green"><%= notice %></p>

<h1>Produtos</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
    </ul>
    <%= form_with(url: produtos_path, method: :get, local: true, class: 'form-inline my-2 my-lg-0') do %>
      <%= text_field_tag :search, params[:search], class: 'form-control mr-sm-2', placeholder: 'Search', aria: { label: 'Search' } %>
      <%= submit_tag 'Search', class: 'btn btn-outline-success my-2 my-sm-0' %>
    <% end %>
  </div>
</nav>

<div id="produtos">
  <% @produtos.each do |produto| %>
    <%= render produto %>
    <p>
      <%= link_to "Show this produto", produto %>
    </p>
  <% end %>
</div>

<%= link_to "New produto", new_produto_path %>
