<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <%= devise_error_messages! %>
  <div class="container-new-produto" >

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <!-- Checkbox para atribuir a role de admin -->
  <div class="field">
    <%= f.check_box :role, { value: 1 }, 1, 0 %>
    <%= f.label :role, "Cadastrar como admin?" %>
  </div>


  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
</div>
<% end %>

<%= render "devise/shared/links" %>
